apiVersion: apps/v1beta2
kind: Deployment
metadata:
  name: iost-worker
spec:
  replicas: 2
  selector:
    matchLabels:
      app: iost-worker
  template:
    metadata:
      labels:
        app: iost-worker
    spec:
      containers:
      - name: iost-worker
        image: gcr.io/MY-PROJECT-ID/iost-worker:latest
        env:
        - name: PROJECT
          value: MY-PROJECT-ID
        - name: INPUT_SUBSCRIPTION
          value: MY-SUBSCRIPTION
        - name: SAVE_BUCKET
          value: MY-BUCKET
        - name: ML_MODEL
          value: MODEL_NAME
        - name: BUCKET_PREDICTION_MODEL
          value: MODEL_NAME
        - name: IOT_REGISTRY
          value: REGISTRY_NAME
        - name: SCORE_THRESHOLD
          value: "0.2"
        resources:
          requests:
            cpu: "1m"
