@font-face{
  font-family: "GoogleSans-Bold";
  src: url('../fonts/GoogleSans-Bold.ttf');
}
@font-face{
  font-family: "GoogleSans-BoldItalic";
  src: url('../fonts/GoogleSans-BoldItalic.ttf');
}
@font-face{
  font-family: "GoogleSans-Italic";
  src: url('../fonts/GoogleSans-Italic.ttf');
}
@font-face{
  font-family: "GoogleSans-Medium";
  src: url('../fonts/GoogleSans-Medium.ttf');
}
@font-face{
  font-family: "GoogleSans-MediumItalic";
  src: url('../fonts/GoogleSans-MediumItalic.ttf');
}
@font-face{
  font-family: "GoogleSans-Regular";
  src: url('../fonts/GoogleSans-Regular.ttf');
}
