<!doctype html>
<html>
<head>
  <title>Smart Shopping Navigator</title>
  <link rel="stylesheet" type="text/css" href="static/css/slide.css">
</head>
<body>
  <img id=main-view src="https://storage.googleapis.com/gcp-iost-contents/{{.Item}}.jpg">
  <div class=recipe id=recipe-title>{{.Title}}</div>
  {{if .ShowDetail}}
  <div class=recipe id=recipe-detail>
    <span class=recppe-detail-header>Items to add:</span>
    {{range .MissingItems}}
    <div class="missing-item" style="background-image: url('https://storage.googleapis.com/gcp-iost-contents/items/{{.Name}}.jpg');">
      <div class="missing-item-cover">
        <span class="missing-item-name">{{.Name}}</span>
        <span class="missing-item-price">{{.Price}}</span>
        <span class="missing-item-location">At {{.Location}}</span>
      </div>
    </div>
    {{end}}
  </div>
  {{end}}
</body>
</html>
